#discoursesso input {
	width:  500px;	
}

#discoursesso label span {
	display: inline-block;
	min-width: 175px;
	padding: 8px 0px;
	vertical-align: top;
}

#discoursesso label.checkbox-label {
	position: relative;
	top: 8px;
}

#discoursesso h3 {
	margin-top:  30px;
}

#discoursesso_settings_status {
	height: 26px;
}